@model Record

<div class="card mb-5">
    <div class="card-header d-flex justify-content-between">
        Record ID: @Model.RecordId
        <h7><span class="badge badge-info">@Model.Category</span></h7>
    </div>

    <div class="card-block">
        <h4 class="card-title">@Model.Name</h4>

        <p class="card-text">@Model.Description</p>

        <div class="btn-group" role="group">
            <button onclick="location.href='@Url.Action("Plot", "Visualise", new { recordId = @Model.RecordId })'" type="button" class="btn btn-secondary"><i class="fa fa-line-chart"></i> Plot</button>
            <button onclick="location.href='@Url.Action("Details", "Record", new { recordId = @Model.RecordId })'" type="button" class="btn btn-secondary"><i class="fa fa-info"></i> Details</button>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Mehr
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Record" asp-action="Download" asp-route-recordId="@Model.RecordId"><i class="fa fa-cloud-download"></i> Download</a>
                    <a class="dropdown-item" asp-controller="Record" asp-action="Edit" asp-route-recordId="@Model.RecordId"><i class="fa fa-pencil"></i> Bearbeiten</a>
                    <a class="dropdown-item" asp-controller="Record" asp-action="Delete" asp-route-recordId="@Model.RecordId"><i class="fa fa-trash-o"></i> Löschen</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer text-muted">
        @Model.Creation.ToString("dd MMMM yyyy")
    </div>
</div>