@model Stack

<div class="card mb-5">
    <div class="card-header d-flex justify-content-between">
        Stack ID: @Model.StackID
        <h7><span class="badge badge-info badge-pill">@Model.CircuitType</span></h7>
        <h7><span class="badge badge-default badge-pill">@Model.CellCount Zellen</span></h7>
    </div>

    <div class="card-block">
        <h5 class="card-title">@Model.Name</h5>

        <markdown content="@Model.Description"></markdown>

        <div class="btn-group mb-3" role="group">
            <button onclick="location.href='@Url.Action("Details", "Stack", new { stackID = @Model.StackID })'" type="button" class="btn btn-secondary"><i class="fa fa-info"></i> Details</button>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Mehr
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Stack" asp-action="Edit" asp-route-stackID="@Model.StackID"><i class="fa fa-pencil"></i> Bearbeiten</a>
                    <a class="dropdown-item" asp-controller="Stack" asp-action="Delete" asp-route-stackID="@Model.StackID"><i class="fa fa-trash-o"></i> Löschen</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer text-muted d-flex justify-content-between">
        <span><small><i class="fa fa-table"></i>  Erstellt: <br /> @Model.Creation.ToString("dd MMMM yyyy") <br /> @Model.Creation.ToString("hh:mm") Uhr</small></span>
        <span><small><i class="fa fa-table"></i>  Geändert: <br /> @Model.Modification.ToString("dd MMMM yyyy") <br /> @Model.Modification.ToString("hh:mm") Uhr</small></span>
    </div>
</div>