@model Record

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            @Model.Name

            <span class="pull-right label label-primary">
            @Model.Category
        </span>

        </h3>

    </div>
    <div class="panel-body">
        <span class="lead">Record ID: @Model.RecordId</span>
        <span class="pull-right"><small> @Model.Creation.ToString("dd MMMM yyyy")</small></span>

        <hr />
        <p>@Model.Description</p>
        <hr />

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Actions 
                <span class="caret"></span>
        </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a asp-controller="Visualise" asp-action="Plot" asp-route-recordId="@Model.RecordId"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Plot</a></li>
                <li><a asp-controller="Record" asp-action="Download" asp-route-recordId="@Model.RecordId"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download</a></li>
                <li><a asp-controller="Record" asp-action="Edit" asp-route-recordId="@Model.RecordId"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Bearbeiten</a></li>
                <li><a asp-controller="Record" asp-action="Delete" asp-route-recordId="@Model.RecordId"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Löschen</a></li>
            </ul>
        </div>
    </div>
</div>