@model RecordsListViewModel
    
   <div class="row"> 
<div class="col-md-3 m-b-40">
    <div class="col-md-12">
        <div class="row">
        <div class="list-group">
            <a href="#" class="list-group-item active"><span class="badge">@ViewBag.Count</span> Alle Datensätze</a>
            <a href="#" class="list-group-item list-group-item-action"><span class="badge">@ViewBag.TimeseriesCount</span> Zeitreihen</a>
            <a href="#" class="list-group-item list-group-item-action"><span class="badge">@ViewBag.LocusCurveCount</span> Ortskurven</a>
            <a href="#" class="list-group-item list-group-item-action disabled"><span class="badge">@ViewBag.OthersCount</span> Sonstige</a>
        </div>
    </div>

    <div class="row">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Suchen</button>
            </span>
            <input type="text" class="form-control" placeholder="Datensatz...">
        </div>
    </div>
    </div>
</div>

<div class="col-md-9">
    @foreach (var rec in Model.Records){
        @Html.Partial("RecordSummary", rec)
    }

    <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true" page-class="btn" page-class-normal="btn-default"
        page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class="btn-group pull-right"> 
    </div>
</div>
</div>