<!DOCTYPE html>
<html>
    <head>
        <base href="/" />
        <title>@ViewData["Title"]</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Html.Raw(ViewData["Meta"])
        @Html.Raw(ViewData["Links"])
        @Html.Raw(ViewData["Styles"])

    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fa fa-battery-half fa-2x"></i></a>

                <div class="collapse navbar-collapse" id="containerNavbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Stack" asp-action="List"><i class="now-ui-icons design_bullet-list-67"></i> Datenbank <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="UploadFiles" asp-action="Upload"><i class="now-ui-icons arrows-1_cloud-upload-94"></i> Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Visualise" asp-action="Plot"><i class="now-ui-icons business_chart-bar-32"></i> Plot</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container body-content">

            @RenderBody()

        </div>

        <div class="wrapper">
            <footer class="footer footer-default">
                <div class="container d-flex">
                    <div class="copyright text-left">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        &mdash; FH Münster | <a href="https://www.fh-muenster.de/fb2/labore_forschung/be/index.php" target="_blank">Labor für Halbleiterbauelemente und Bussysteme</a>
                    </div>
                </div>
            </footer>
        </div>

        <!-- remove if you're not going to use SignalR -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>

        <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js"></script>

        <!-- Here we're passing down any data to be used by grabbed and parsed by Angular -->
        @Html.Raw(ViewData["TransferData"])

        @RenderSection("scripts", required: false)
    </body>
</html>