<!DOCTYPE html>
<html>
    <head>
        <base href="/" />
        <title>@ViewData["Title"]</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Html.Raw(ViewData["Meta"])
        @Html.Raw(ViewData["Links"])
        @Html.Raw(ViewData["Styles"])

    </head>
    <body>
        <div class="container">

            @RenderBody()

        </div>

        <div class="wrapper">
            <footer class="footer footer-default">
                <div class="container d-flex justify-content-between">
                    <div class="copyright text-left">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        &mdash; FH Münster | <a href="https://www.fh-muenster.de/fb2/labore_forschung/be/index.php" target="_blank">Labor für Halbleiterbauelemente und Bussysteme</a>
                    </div>

                    <nav class="ml-2">
                    <ul>
                        <li>
                            <a href="http://www.robinweiss.de/impressum/" target="_blank">
                                Impressum
                            </a>
                        </li>
                    </ul>
                </nav>
                </div>
            </footer>
        </div>

        <!-- remove if you're not going to use SignalR -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>

        <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js"></script>

        <!-- Here we're passing down any data to be used by grabbed and parsed by Angular -->
        @Html.Raw(ViewData["TransferData"])

        @RenderSection("scripts", required: false)
    </body>
</html>